{{!-- {{#each model as |champ|}}
  <p>{{champ.championshipNumber}}</p>
  {{#each champ.teams as |team|}}
    <p>{{team.name}}</p>
  {{/each}}
{{/each}} --}}
<p>{{model.stadium}}</p>
<p>{{model.scoreDiference}}</p>
<p>{{model.matchDate}}</p>
<p>{{model.round.betLimitDate}}</p>
<p>{{model.homeTeam.name}}</p>
<p>{{model.winner.name}}</p>
<p>{{model.visitingTeam.name}}</p>
